/* GENERAL */

#root {
    margin: 0 auto;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
}

img {
    max-width: 60%;
    height: auto;
}

.heading h1 {
    color: #0e7cd5;
    margin-top: 50px;
    /* margin-bottom: 20px; */
    text-transform: uppercase;
}


/* --------------------------- */

/* MENU */

#menu ul li {
    display: inline-block;
    margin: 5px;
    margin-right: 20px;
    align-items: center;
    font-size: 16px;
}

.custom-navbar {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.custom-navbar:hover {
    color: rgb(208, 12, 12);
    text-decoration: underline;
}


/* --------------------------- */

/* PRESENTATION */

#presentation {
    padding-top: 100px;
    padding-bottom: 5px;
    background: linear-gradient(to bottom,
            rgb(67, 192, 241),
            rgb(41, 113, 237));
}

.profile-picture {
    text-align: center;
    margin: 0 auto;
    float: none;
    width: 200px;
    max-width: 35%;
}

#presentation .heading h1 {
    margin-top: 20px;
    color: #fff;
    text-transform: none;
    animation-duration: 2s;
    animation-delay: 0.5s;
}

#presentation .heading h2 {
    padding: 0 3vw;
    font-family: "Playpen Sans", sans-serif;
    font-size: 20px;
    text-shadow: 0px 1px 1px rgb(157, 154, 154);
    margin: 20px;
}

#presentation .heading h2 span {
    text-shadow: 1px 1px 1px rgb(189, 183, 183);
}

#presentation .heading h3 {
    margin-top: 15px;
    color: rgb(97, 216, 249);
    text-shadow: 1px 1px 1px rgb(38, 37, 37);
    font-style: italic;
    animation-duration: 2s;
    animation-delay: 2.5s;
}

.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #858387bb;
    border: 1px solid white;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 14px 40px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}

.button1:hover {
    background: rgb(243, 239, 239);
    color: rgb(208, 12, 12);
    text-decoration: none;
}


/* --------------------------- */

/* SKILLS */

#skills {
    padding-top: 50px;
    padding-bottom: 5px;
}

#skills .headingPlus h4 {
    text-align: center;
    text-decoration: underline;
    margin-top: 40px;
}

#skills .groupTechnos {
    font-family: "Playpen Sans", sans-serif;
}

#skills .groupTechnos li {
    list-style-type: none;
    margin: 10px auto;
}

#skills .groupTechnos ul {
    font-size: 12px;
    padding: 0;
}

#skills .groupTechnos ul span {
    font-size: 15px;
}

#skills .groupTechnos img {
    width: 20px;
    opacity: 0.5;
    margin-right: 3px;
}

#skills .progress {
    height: 30px;
    margin: 30px 30px;
    background: #cecdd0c3;
    text-shadow: 2px 2px 2px #000;
    font-size: 0.8em;
    text-transform: uppercase;
    min-width: 10%;
    max-width: 70%;
    white-space: nowrap;
}

#skills .myBarEnd {
    width: 60vw;
    margin: 25px auto;
}

#skills .myBar {
    width: 50vw;
    margin: 25px auto;
}

#skills .myBarMotiv {
    width: 50vw;
    margin: 25px auto;
    margin-bottom: 40px;
}

#skills .myBarEnd .progress-bar {
    background: linear-gradient(to top,
            rgb(67, 192, 241),
            rgb(41, 113, 237));
}

#skills .myBar .progress-bar {
    background: linear-gradient(to top,
            rgb(31, 164, 216),
            rgb(41, 113, 237));
}

#skills .myBarMotiv .progress-bar {
    background: linear-gradient(to top,
            #43cfee,
            rgb(70, 182, 243));
}

#skills .animate {
    filter: drop-shadow(2px 2px 2px #38383e);
}

#skills .animate:hover {
    animation-duration: 2s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
}


/* --------------------------- */

/* FORMATIONS */

#formations {
    padding-top: 50px;
    padding-bottom: 5px;
}

/* The actual timeline (the vertical ruler) */
#formations .main-timeline-4 {
    position: relative;
}

/* The actual timeline (the vertical ruler) */
#formations .main-timeline-4::after {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #43cfee;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
#formations .timeline-4 {
    position: relative;
    background-color: inherit;
    width: 50%;
}

.py-5 h4,
h5,
p {
    color: #fffffff0;
}

/* The circles on the timeline */
#formations .timeline-4::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    background-color: #43cfee;
    background-image: url('../src/assets/circle-check.svg');
    background-position: center;
    background-repeat: no-repeat;
}

/* Place the container to the left */
#formations .left-4 {
    padding: 0px 40px 20px 0px;
    left: 0;
}

/* Place the container to the right */
#formations .right-4 {
    padding: 0px 0px 20px 40px;
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
#formations .left-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid rgba(37, 117, 252, 1);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent rgba(37, 117, 252, 1);
}

/* Add arrows to the right container (pointing left) */
#formations .right-4::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid rgba(37, 117, 252, 1);
    border-width: 10px 10px 10px 0;
    border-color: transparent rgba(37, 117, 252, 1) transparent transparent;
}

/* Fix the circle for containers on the right side */
#formations .right-4::after {
    left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    #formations .main-timeline-4::after {
        left: 31px;
    }

    /* Full-width containers */
    #formations .timeline-4 {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    /* #formations .timeline-4::before {
        left: 10px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    } */
    #formations .left-4::before {
        left: 60px;
        rotate: 180deg;
    }

    #formations .right-4::before {
        left: 60px;
    }

    /* Make sure all circles are at the same spot */
    #formations .left-4::after {
        left: 18px;
    }

    #formations .right-4::after {
        left: 18px;
    }

    #formations .left-4::before {
        right: auto;
    }

    /* Make all right containers behave like the left ones */
    #formations .right-4 {
        left: 0%;
    }
}

#formations .gradient-custom {
    /* fallback for old browsers */
    background: rgb(41, 113, 237);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right,
            rgb(67, 192, 241),
            rgb(41, 113, 237));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right,
            rgb(67, 192, 241),
            rgb(41, 113, 237));
}

#formations .gradient-custom-4 {
    /* fallback for old browsers */
    background: rgb(67, 192, 241);

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left,
            rgb(67, 192, 241),
            rgb(41, 113, 237));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left,
            rgb(67, 192, 241),
            rgb(41, 113, 237));
}


/* --------------------------- */

/* EXPERIENCE */

#experience {
    padding-top: 50px;
    padding-bottom: 5px;
}

.experience {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background: rgb(67, 192, 241);
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-top: 40px;
    margin-bottom: 20px;
}

.experience .accordion-button:hover {
    background-color: rgb(67, 192, 241);
    color: #fff;
}

.experience .accordion-button:not(.collapsed) {
    background: linear-gradient(to top,
            rgb(67, 192, 241),
            rgb(41, 113, 237));
    color: #fff;
    box-shadow: none;
}

.experience button:focus {
    box-shadow: none;
}

#styleCompany {
    color: rgb(41, 113, 237);
    font-size: 20px;
}

.experience h5 {
    color: #585555;
    font-size: 17px;
}

.experience .badge-container {
    gap: 10px;
}


/* --------------------------- */

/* CENTRES D'INTERET - TEXT CAROUSEL */

#centresInteret {
    padding-top: 50px;
    padding-bottom: 5px;
}

#myCarousel #carousel-item {
    padding: 40px 30px;
    height: 70%;
    width: 80%;
    margin: auto auto;
}

#myCarousel .carousel-item h3 {
    color: #000;
    font-size: 29px;
}

#myCarousel .carousel-item h4 {
    color: #9d9a9f9e;
    font-size: 20px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgb(67, 192, 241);
    border-radius: 50%;
}

.carousel-indicators {
    background: linear-gradient(to bottom,
            rgb(67, 192, 241),
            rgb(41, 113, 237));
    border-radius: 50%;
}


/* --------------------------- */

/* ERROR PAGE */

#errorPage {
    padding-top: 50px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#errorPage .heading h1 {
    margin: auto;
}


/* --------------------------- */

/* FOOTER */

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#footer {
    width: 100vw;
    margin-top: auto;
    background: #333;
    padding: 2px 10px;
}

#footer .material-icons {
    font-size: 35px;
    margin-top: 3px;
    color: #d82c2e;
    height: 20px;
}

#footer .material-icons:hover {
    font-size: 40px;
}

#footer #contacts {
    animation-duration: 2s;
    animation-delay: 4s;
}

#footer p {
    color: #fff;
    margin-bottom: 6px;
}

#footer img {
    width: 17px;
    margin-right: 9px;
}

#footer .contactEmail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blockspam {
    display: none !important;
}

#footer a {
    color: #fff;
    text-decoration: none;
}

#footer .contactEmail p:hover {
    color: #9ee1f5;
}

#footer a:hover {
    color: #9ee1f5;
    text-decoration: underline;
}

#footer h5 {
    color: #cccbcd;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 10px;
}